# ECR Registry (reemplazar con el URI real tras crear repositorios en AWS)
# Ejemplo: 123456789012.dkr.ecr.us-east-1.amazonaws.com
ECR_REGISTRY=381491863278.dkr.ecr.us-east-1.amazonaws.com

# IP privada de la instancia EC2 Backend (la que ejecuta back-ventas y back-despachos)
BACKEND_HOST=private-ip-or-backend-host
